Repository yuhtanak-git/techacademy: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, prettier, eslint, stylelint

black:
  name: black (Python)
  entry: black
  language: system

ruff:
  name: ruff (Python, auto-fix)
  entry: ruff check --fix
  language: system

prettier:
  name: prettier (Web)
  entry: npx prettier --write
  language: system

eslint:
  name: eslint (JS, auto-fix)
  entry: npx eslint --fix
  language: system

stylelint:
  name: stylelint (CSS, auto-fix)
  entry: npx stylelint --fix
  language: system

コメント追加
  04_function/task/task01.ipynb
Due: none

修正
  05_oop/task/task01.ipynb
Due: none

修正
  05_oop/README.md
  package-lock.json
  package.json
Due: prettier

修正
  06_test/test/test_authenticator.py
Due: none

リダイレクトの共通化
  09_flask/todo/app.py
Due: black, ruff

追加
  00_orientation/README.md
  00_orientation/sample/helloWorld.ipynb
Due: prettier

更新
  .gitignore
Due: none

課題追加
  10_llmbasic/task/chatbot.ipynb
Due: none

不要な処理の削除
  10_llmbasic/task/chatbot.ipynb
Due: none

追加
  requirements.txt
Due: none

追加
  11_tool/.env.example
Due: none

クライアントの持ち方の修正
  11_tool/task/chatbot.ipynb
Due: none

責務を分ける
  11_tool/task/chatbot.ipynb
Due: none

責務を分ける2
  11_tool/task/chatbot.ipynb
Due: none

キャラクター追加
  11_tool/task/chatbot.ipynb
Due: none

コメント修正
  11_tool/task/chatbot.ipynb
Due: none

修正
  requirements.txt
Due: none

研修内容の追加
  12_excel/output_sample/01_sales_analysis.xlsx
  12_excel/output_sample/02_survey_analysis.xlsx
  12_excel/output_sample/category_strategy.md
  12_excel/output_sample/formatted_phone_numbers.xlsx
  12_excel/output_sample/prefecture_addresses.xlsx
  12_excel/output_sample/product_grouping.xlsx
  12_excel/sample/advance.ipynb
  12_excel/sample/basic_01.ipynb
  12_excel/sample/basic_02.ipynb
  12_excel/sample/workflow.ipynb
  12_excel/sample_data.xlsx
Due: prettier

追加
  12_excel/.env.example
  requirements.txt
Due: none

追加
  14_rag/sample/advance.ipynb
  14_rag/sample/basic.ipynb
  requirements.txt
Due: none

追加
  14_rag/README.md
  14_rag/storage01/default__vector_store.json
  14_rag/storage01/docstore.json
  14_rag/storage01/graph_store.json
  14_rag/storage01/image__vector_store.json
  14_rag/storage01/index_store.json
  14_rag/task/task01.ipynb
Due: prettier

追加
  15_langchain/.env.example
  15_langchain/data/pdf/01就業規則.pdf
  15_langchain/data/pdf/02賃金規則.pdf
  15_langchain/data/pdf/03休暇規則.pdf
  15_langchain/data/pdf/04健康・安全管理規則.pdf
  15_langchain/data/pdf/05行動規範・倫理規程.pdf
  15_langchain/data/text/01就業規則.md
  15_langchain/data/text/02賃金規則.md
  15_langchain/data/text/03休暇規則.md
  15_langchain/data/text/04健康・安全管理規則.md
  15_langchain/data/text/05行動規範・倫理規程.md
  15_langchain/data/text/06懲戒規則.md
  15_langchain/data/text/07人事評価・昇進規則.md
  15_langchain/data/text/08福利厚生規則.md
  15_langchain/data/text/09退職・解雇に関する規則.md
  15_langchain/data/text/10その他の特定事項.md
  15_langchain/sample/basic.ipynb
Due: prettier

追加
  requirements-langchain.txt
Due: none

追加
  15_langchain/sample/rag.ipynb
Due: none

追加
  14_rag/data/pdf/01就業規則.pdf
  14_rag/data/pdf/02賃金規則.pdf
  14_rag/data/pdf/03休暇規則.pdf
  14_rag/data/pdf/04健康・安全管理規則.pdf
  14_rag/data/pdf/05行動規範・倫理規程.pdf
  14_rag/data/text/01就業規則.md
  14_rag/data/text/02賃金規則.md
  14_rag/data/text/03休暇規則.md
  14_rag/data/text/04健康・安全管理規則.md
  14_rag/data/text/05行動規範・倫理規程.md
  14_rag/data/text/06懲戒規則.md
  14_rag/data/text/07人事評価・昇進規則.md
  14_rag/data/text/08福利厚生規則.md
  14_rag/data/text/09退職・解雇に関する規則.md
  14_rag/data/text/10その他の特定事項.md
Due: prettier

追加
  15_langchain/sample/agent_chatbot.ipynb
Due: none

課題作成
  15_langchain/task/task01.ipynb
Due: none

修正
  15_langchain/task/task01.ipynb
Due: none

修正
  14_rag/README.md
  15_langchain/README.md
Due: prettier

コメント修正
  15_langchain/task/task01.ipynb
Due: none

追加
  16_llmapp/chatbot/__init__.py
  16_llmapp/chatbot/app.py
  16_llmapp/chatbot/data/pdf/01就業規則.pdf
  16_llmapp/chatbot/data/pdf/02賃金規則.pdf
  16_llmapp/chatbot/data/pdf/03休暇規則.pdf
  16_llmapp/chatbot/data/pdf/04健康・安全管理規則.pdf
  16_llmapp/chatbot/data/pdf/05行動規範・倫理規程.pdf
  16_llmapp/chatbot/data/text/01就業規則.md
  16_llmapp/chatbot/data/text/02賃金規則.md
  16_llmapp/chatbot/data/text/03休暇規則.md
  16_llmapp/chatbot/data/text/04健康・安全管理規則.md
  16_llmapp/chatbot/data/text/05行動規範・倫理規程.md
  16_llmapp/chatbot/data/text/06懲戒規則.md
  16_llmapp/chatbot/data/text/07人事評価・昇進規則.md
  16_llmapp/chatbot/data/text/08福利厚生規則.md
  16_llmapp/chatbot/data/text/09退職・解雇に関する規則.md
  16_llmapp/chatbot/data/text/10その他の特定事項.md
  16_llmapp/chatbot/static/style.css
  16_llmapp/chatbot/templates/base.html
  16_llmapp/chatbot/templates/index.html
  requirements-llmapp.txt
Due: prettier, stylelint

対話型に修正
  16_llmapp/chatbot/templates/index.html
Due: prettier

コメント修正
  16_llmapp/original/chatbot/app.py
  16_llmapp/original/chatbot/config.py
  16_llmapp/original/chatbot/risk_score.py
Due: none

Path conditions:
  black: any of: ^09_flask/.*\.py$ and \.py$
  ruff: any of: ^09_flask/.*\.py$ and \.py$
  prettier: any of: \.(html|css|js|json|md|yml|yaml)$
  eslint: any of: \.js$
  stylelint: any of: \.css$
